[submodule "vendor/plugins/jbos-rails-plugin"]
	path = vendor/plugins/jbos-rails-plugin
	url = git://github.com/bobmcwhirter/jboss-rails-plugin.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
