<html>
  <head>
    <title>oVirtex</title>
    <style type="text/css">
      body { 
        width: 800px;
        margin: auto;
        font-family: trebuchet ms;
      }
    </style>
  </head>

  

  <body>
    <%= yield %>
  </body>

</html>
